.frame-child {
  height: 80px;
  width: 1440px;
  position: relative;
  background-color: var(--color-paleturquoise);
  backdrop-filter: blur(20px);
  display: none;
  max-width: 100%;
}
.home,
.logos-icon,
.work {
  position: relative;
  z-index: 1;
}
.logos-icon {
  height: 59.3px;
  width: 89px;
  object-fit: cover;
}
.home,
.work {
  letter-spacing: -0.5px;
  display: inline-block;
  min-width: 50px;
}
.work {
  min-width: 43px;
}
.work-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.contact {
  width: 69px;
  position: relative;
  letter-spacing: -0.5px;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.btn-component,
.btn-component-wrapper {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.btn-component {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-manrope);
}
.btn-component-wrapper {
  width: 281px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 15.6px;
  box-sizing: border-box;
}
.desktop-5-inner,
.rectangle-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent {
  flex: 1;
  background-color: var(--color-paleturquoise);
  backdrop-filter: blur(20px);
  align-items: flex-end;
  justify-content: space-between;
  padding: 11.3px 109px 9.4px 96px;
  gap: var(--gap-xl);
}
.desktop-5-inner {
  height: 88px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 8px;
  top: 0;
  z-index: 99;
  position: sticky;
}
.hi,
.i-am-minh {
  margin: 0;
}
.hi-i-am-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.5px;
  line-height: 70px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.lets-work-together {
  width: 430px;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.5px;
  line-height: 36px;
  font-weight: 600;
  color: #959595;
  display: inline-block;
  max-width: 100%;
}
.hi-message {
  width: 824px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  max-width: 135%;
  flex-shrink: 0;
}
.get-started {
  width: 101px;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--font-manrope);
  color: var(--color-white);
  text-align: right;
  display: inline-block;
  min-width: 101px;
}
.btn,
.hi-message-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.btn {
  cursor: pointer;
  border: 0;
  padding: 19.5px 55.5px;
  background-color: var(--color-darkslateblue-100);
  border-radius: var(--br-3xs);
  flex-direction: row;
  white-space: nowrap;
}
.btn:hover {
  background-color: #366691;
}
.hi-message-parent {
  width: 612px;
  flex-direction: column;
  gap: var(--gap-96xl);
  min-width: 612px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.unsplashxhvpwcr5grq-icon {
  height: 400px;
  width: 400px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.desktop-5-child,
.frame-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent {
  justify-content: flex-start;
  row-gap: 20px;
}
.desktop-5-child {
  width: 1416px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-manrope);
}
.frame-item {
  height: 83px;
  width: 1440px;
  position: relative;
  background-color: var(--color-skyblue-100);
  flex-shrink: 0;
  display: none;
  max-width: 100%;
}
.work1,
.work2 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 70px;
  display: inline-block;
  min-width: 75px;
  white-space: nowrap;
  z-index: 1;
}
.work-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.work3 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 70px;
  display: inline-block;
  min-width: 75px;
  white-space: nowrap;
  z-index: 1;
}
.work-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.work4 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 70px;
  display: inline-block;
  min-width: 75px;
  white-space: nowrap;
  z-index: 1;
}
.frame-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.work5 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 70px;
  display: inline-block;
  min-width: 75px;
  white-space: nowrap;
  z-index: 1;
}
.work-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.work6 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 70px;
  display: inline-block;
  min-width: 75px;
  white-space: nowrap;
  z-index: 1;
}
.work-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.work7 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 70px;
  display: inline-block;
  min-width: 75px;
  white-space: nowrap;
  z-index: 1;
}
.work-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.work8 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 70px;
  display: inline-block;
  min-width: 75px;
  white-space: nowrap;
  z-index: 1;
}
.work-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.work9 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 70px;
  display: inline-block;
  min-width: 75px;
  white-space: nowrap;
  z-index: 1;
}
.work-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.work10 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 70px;
  display: inline-block;
  min-width: 75px;
  white-space: nowrap;
  z-index: 1;
}
.work-wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.work11 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 70px;
  display: inline-block;
  min-width: 75px;
  white-space: nowrap;
  z-index: 1;
}
.work-wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.work12 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 70px;
  display: inline-block;
  min-width: 75px;
  white-space: nowrap;
  z-index: 1;
}
.frame-section,
.rectangle-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-group {
  background-color: var(--color-skyblue-100);
  overflow-x: auto;
  padding: var(--padding-6xs) 103px 6px;
  gap: 24px;
}
.frame-section {
  padding: 0 0 var(--padding-3xs);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-manrope);
}
.frame-inner {
  align-self: stretch;
  width: 1248px;
  position: relative;
  background-color: var(--color-darkslategray);
  display: none;
  max-width: 100%;
}
.design-product,
.we-believe-that {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 26px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.design-product {
  margin: 0;
  width: 490px;
  height: 46px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  max-width: 100%;
}
.we-believe-that {
  align-self: stretch;
  height: 123px;
  font-size: var(--font-size-sm);
}
.design-product-parent,
.frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.design-product-parent {
  align-self: stretch;
  gap: var(--gap-8xl);
}
.frame-wrapper {
  width: 506px;
  padding: 33px 0 0;
  box-sizing: border-box;
  min-width: 506px;
}
.unsplashmxpimiz7kco-icon {
  height: 336px;
  width: 612px;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.rectangle-container {
  width: 1248px;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-5xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.rectangle-div {
  align-self: stretch;
  width: 1248px;
  position: relative;
  background-color: var(--color-peru);
  display: none;
  max-width: 100%;
}
.unsplashg-pkprpg5yw-icon {
  height: 336px;
  width: 612px;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.magazine-design,
.we-believe-that1 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 26px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.magazine-design {
  margin: 0;
  height: 46px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.we-believe-that1 {
  align-self: stretch;
  height: 123px;
  font-size: var(--font-size-sm);
}
.magazine-design-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.frame-wrapper1,
.rectangle-parent1 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper1 {
  width: 521px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-15xl) 0 0;
  min-width: 521px;
}
.rectangle-parent1 {
  align-self: stretch;
  background-color: var(--color-peru);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-15xl) var(--padding-12xs) 0;
  gap: var(--gap-xl);
}
.frame-child1 {
  align-self: stretch;
  width: 1248px;
  position: relative;
  background-color: var(--color-mediumseagreen);
  display: none;
  max-width: 100%;
}
.uiux-design,
.we-believe-that2 {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.uiux-design {
  margin: 0;
  height: 46px;
  font-size: inherit;
  letter-spacing: -0.5px;
  font-weight: 700;
  font-family: inherit;
}
.we-believe-that2 {
  height: 123px;
  font-size: var(--font-size-sm);
}
.main-content,
.uiux-design-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.uiux-design-parent {
  align-self: stretch;
  gap: var(--gap-8xl);
}
.main-content {
  width: 521px;
  padding: var(--padding-21xl) 0 0;
  box-sizing: border-box;
  min-width: 521px;
  max-width: 100%;
}
.unsplashpqzrfbhd9r0-icon {
  height: 336px;
  width: 612px;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.frame-container,
.rectangle-parent2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent2 {
  align-self: stretch;
  background-color: var(--color-mediumseagreen);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.frame-container {
  width: 1248px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 54px;
}
.frame-child2 {
  align-self: stretch;
  width: 1248px;
  position: relative;
  background-color: var(--color-salmon);
  display: none;
  max-width: 100%;
}
.animation,
.unsplashx-hpilsdkek-icon {
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.unsplashx-hpilsdkek-icon {
  height: 336px;
  width: 612px;
  border-radius: 4px;
  object-fit: cover;
}
.animation {
  margin: 0;
  height: 46px;
  width: 333px;
  font-size: inherit;
  letter-spacing: -0.5px;
  line-height: 26px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.animation-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.we-believe-that3 {
  align-self: stretch;
  height: 123px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 26px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  max-width: 100%;
}
.frame-wrapper2,
.rectangle-parent3 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper2 {
  width: 521px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-21xl) 0 0;
  min-width: 521px;
}
.rectangle-parent3 {
  width: 1248px;
  background-color: var(--color-salmon);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-15xl) var(--padding-12xs) 0;
  gap: var(--gap-xl);
}
.frame-child3 {
  width: 1248px;
  height: 336px;
  position: relative;
  background-color: var(--color-yellow);
  display: none;
  max-width: 100%;
}
.packaging-design,
.we-believe-that4 {
  position: relative;
  line-height: 26px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.packaging-design {
  margin: 0;
  width: 550px;
  height: 46px;
  font-size: inherit;
  letter-spacing: -0.5px;
  font-weight: 700;
  font-family: inherit;
}
.we-believe-that4 {
  width: 521px;
  height: 123px;
  font-size: var(--font-size-sm);
}
.rectangle-parent4 {
  flex: 1;
  background-color: var(--color-yellow);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-32xl) var(--padding-5xl) 89px;
  box-sizing: border-box;
  gap: var(--gap-8xl);
  max-width: 100%;
}
.unsplashpqzrfbhd9r0-icon1 {
  height: 336px;
  width: 612px;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
  margin-left: -600px;
}
.frame-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-black);
}
.frame-child4,
.frame-parent1,
.frame-parent3 {
  align-self: stretch;
  max-width: 100%;
}
.frame-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 53px;
}
.frame-child4 {
  width: 1248px;
  position: relative;
  background-color: var(--color-palevioletred);
  display: none;
}
.unsplashpqzrfbhd9r0-icon2 {
  height: 336px;
  width: 612px;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.advertising {
  margin: 0;
  height: 46px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.5px;
  line-height: 26px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.advertising-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs);
}
.we-believe-that5 {
  align-self: stretch;
  height: 123px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 26px;
  color: var(--color-white);
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.frame-wrapper3,
.rectangle-parent5 {
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-wrapper3 {
  width: 521px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 43px 0 0;
  min-width: 521px;
  max-width: 100%;
}
.rectangle-parent5 {
  width: 1248px;
  background-color: var(--color-palevioletred);
  flex-direction: row;
  padding: 0 12px var(--padding-12xs);
  gap: 69px;
  color: #ef4829;
}
.desktop-5-inner1,
.frame-group,
.rectangle-parent5 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-group {
  width: 1260px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 70px;
}
.desktop-5-inner1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 124px 32px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-manrope);
}
.frame-child5 {
  width: 1440px;
  height: 481px;
  position: relative;
  background-color: var(--color-skyblue-200);
  backdrop-filter: blur(20px);
  display: none;
  max-width: 100%;
}
.contact-me {
  margin: 0;
  width: 256px;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.contact-me-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 21px 0 var(--padding-xl);
}
.sugotenksgmailcom {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  color: var(--color-darkslateblue-100);
  white-space: nowrap;
  z-index: 1;
}
.frame-parent5,
.frame-wrapper4 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent5 {
  width: 427px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 41px;
}
.frame-wrapper4 {
  width: 1105px;
  flex-direction: row;
  justify-content: center;
  padding: 0 2px 0 0;
  box-sizing: border-box;
}
.frame-child6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  display: none;
}
.instagram-icon {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 33px;
  height: 33px;
  object-fit: cover;
  z-index: 2;
}
.frame-child7,
.rectangle-parent6 {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.rectangle-parent6 {
  height: 42px;
  width: 42px;
  position: relative;
  z-index: 1;
}
.frame-child7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.facebook-circled-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 33px;
  height: 33px;
  object-fit: cover;
  z-index: 2;
}
.rectangle-parent7 {
  height: 42px;
  width: 42px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  z-index: 1;
}
.frame-parent7,
.frame-wrapper5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent7 {
  gap: 17px;
}
.frame-wrapper5 {
  padding: 0 9px;
}
.content-container {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #f0f0f0;
  box-sizing: border-box;
  z-index: 1;
}
.frame-parent6 {
  width: 1105px;
  align-items: flex-start;
  gap: 6px;
  max-width: 100%;
}
.desktop-5,
.frame-footer,
.frame-parent6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-footer {
  align-self: stretch;
  background-color: var(--color-skyblue-200);
  backdrop-filter: blur(20px);
  align-items: center;
  padding: 79px var(--padding-xl) 145px 23px;
  box-sizing: border-box;
  gap: 79px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: #004e96;
  font-family: var(--font-inter);
}
.desktop-5 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-start;
  gap: var(--gap-96xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1250px) {
  .frame-wrapper,
  .unsplashmxpimiz7kco-icon {
    flex: 1;
  }
  .rectangle-container {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-wrapper1,
  .unsplashg-pkprpg5yw-icon {
    flex: 1;
  }
  .rectangle-parent1 {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-top: var(--padding-12xs);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .main-content,
  .unsplashpqzrfbhd9r0-icon {
    flex: 1;
  }
  .rectangle-parent2 {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-wrapper2,
  .unsplashx-hpilsdkek-icon {
    flex: 1;
  }
  .rectangle-parent3 {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-top: var(--padding-12xs);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-wrapper3,
  .unsplashpqzrfbhd9r0-icon2 {
    flex: 1;
  }
  .rectangle-parent5 {
    flex-wrap: wrap;
  }
  .desktop-5-inner1 {
    padding-bottom: 53px;
    box-sizing: border-box;
  }
  .frame-footer {
    gap: 39px 79px;
  }
}
@media screen and (max-width: 1100px) {
  .hi-message-parent {
    flex: 1;
    gap: 57px 115px;
  }
  .unsplashxhvpwcr5grq-icon {
    flex: 1;
  }
  .frame-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .rectangle-parent {
    padding-left: 48px;
    padding-right: 54px;
    box-sizing: border-box;
  }
  .hi-i-am-container {
    font-size: var(--font-size-32xl);
    line-height: 56px;
  }
  .hi-message-parent {
    min-width: 100%;
  }
  .rectangle-group {
    padding-left: var(--padding-32xl);
    padding-right: var(--padding-32xl);
    box-sizing: border-box;
  }
  .design-product {
    font-size: var(--font-size-32xl);
    line-height: 21px;
  }
  .frame-wrapper {
    min-width: 100%;
  }
  .magazine-design {
    font-size: var(--font-size-32xl);
    line-height: 21px;
  }
  .frame-wrapper1 {
    min-width: 100%;
  }
  .uiux-design {
    font-size: var(--font-size-32xl);
    line-height: 21px;
  }
  .main-content {
    min-width: 100%;
  }
  .frame-container {
    gap: 27px 54px;
  }
  .animation {
    font-size: var(--font-size-32xl);
    line-height: 21px;
  }
  .frame-wrapper2 {
    min-width: 100%;
  }
  .packaging-design {
    font-size: var(--font-size-32xl);
    line-height: 21px;
  }
  .frame-parent1 {
    gap: 26px 53px;
  }
  .advertising {
    font-size: var(--font-size-32xl);
    line-height: 21px;
  }
  .frame-wrapper3 {
    min-width: 100%;
  }
  .rectangle-parent5 {
    gap: 69px 34px;
  }
  .frame-group {
    gap: 35px 70px;
  }
  .desktop-5-inner1 {
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .contact-me,
  .sugotenksgmailcom {
    font-size: var(--font-size-10xl);
  }
  .frame-footer {
    gap: 20px 79px;
    padding-top: var(--padding-32xl);
    padding-bottom: 94px;
    box-sizing: border-box;
  }
  .desktop-5 {
    gap: 57px 115px;
  }
}
@media screen and (max-width: 450px) {
  .rectangle-parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .hi-i-am-container {
    font-size: var(--font-size-19xl);
    line-height: 42px;
  }
  .lets-work-together {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .hi-message-parent {
    gap: 29px 115px;
  }
  .work1,
  .work10,
  .work11,
  .work12,
  .work2,
  .work3,
  .work4,
  .work5,
  .work6,
  .work7,
  .work8,
  .work9 {
    font-size: var(--font-size-lgi);
    line-height: 56px;
  }
  .rectangle-group {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .advertising,
  .animation,
  .design-product,
  .magazine-design,
  .packaging-design,
  .uiux-design {
    font-size: var(--font-size-19xl);
    line-height: 16px;
  }
  .rectangle-parent5 {
    gap: 69px 17px;
  }
  .frame-group {
    gap: 17px 70px;
  }
  .contact-me,
  .sugotenksgmailcom {
    font-size: var(--font-size-3xl);
  }
  .frame-parent5 {
    gap: 20px 41px;
  }
  .desktop-5 {
    gap: 29px 115px;
  }
}
